@import "tailwindcss";

@theme {
  --color-primary_yellow: #ffc50f;
  --color-secondary_yellow: #ffc50f;
  --color-primary_orange: #ff9d00;
  --color-secondary_orange: #fa812f;
  --color-color-gradient: linear-gradient(
    to bottom right,
    var(--color-primary_yellow),
    var(--color-secondary_orange)
  );
  --font-ibm: "IBM Plex Sans", sans-serif;
}
